{% extends 'base.html' %}
{% block title %}
  Остров отчаянья. 25 октября 1659 года
{% endblock %}

{% block content %}
          <article>
          <ul>
            <li>
              Место: {{post.location}}
            </li>
            <li>
              Дата: {{post.date}}
            </li>
            <li>
              Категория: <a href="{{post.category}}">{{post.category}}</a>
            </li>
          </ul>
          <p>
              {{post.text}}
          </p>
        </article>
{% endblock %}





